.modal-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black; /* добавляем рамку толщиной 1px и цвета #ccc */
    padding: 20px; /* добавляем отступы внутри формы */
}